---
http_interactions:
- request:
    method: get
    uri: http://api.petfinder.com/shelter.getPets?count=10&format=json&id=NY803&key=3ea4a92e053a83bda1d17959baf8b158&output=full
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"@encoding":"iso-8859-1","@version":"1.0","petfinder":{"@xmlns:xsi":"http://www.w3.org/2001/XMLSchema-instance","lastOffset":{"$t":"10"},"pets":{"pet":[{"options":{"option":{"$t":"housetrained"}},"breeds":{"breed":{"$t":"Domestic
        Short Hair-gray"}},"shelterPetId":{},"status":{"$t":"A"},"name":{"$t":"Kittens!"},"contact":{"email":{"$t":"adopt@emptycagescollective.org"},"zip":{"$t":"11211"},"city":{"$t":"Brooklyn"},"fax":{},"address1":{"$t":"302
        Bedford Avenue, PMB: 301"},"phone":{"$t":"1 (800) 880-2684"},"state":{"$t":"NY"},"address2":{}},"description":{"$t":"Yes,
        we have kittens!\n\nThey will be spayed or neutered when they weigh at least
        2 pounds (they are growing fast!) and will then be ready to find forever homes.\n"},"sex":{"$t":"F"},"age":{"$t":"Baby"},"size":{"$t":"S"},"mix":{"$t":"no"},"shelterId":{"$t":"NY803"},"lastUpdate":{"$t":"2013-05-31T20:08:07Z"},"media":{"photos":{"photo":[{"@size":"pnt","$t":"http://photos.petfinder.com/photos/pets/19822901/1/?bust=1307664210&width=60&-pnt.jpg","@id":"1"},{"@size":"fpm","$t":"http://photos.petfinder.com/photos/pets/19822901/1/?bust=1307664210&width=95&-fpm.jpg","@id":"1"},{"@size":"x","$t":"http://photos.petfinder.com/photos/pets/19822901/1/?bust=1307664210&width=500&-x.jpg","@id":"1"},{"@size":"pn","$t":"http://photos.petfinder.com/photos/pets/19822901/1/?bust=1307664210&width=300&-pn.jpg","@id":"1"},{"@size":"t","$t":"http://photos.petfinder.com/photos/pets/19822901/1/?bust=1307664210&width=50&-t.jpg","@id":"1"}]}},"id":{"$t":"19822901"},"animal":{"$t":"Cat"}},{"options":{"option":[{"$t":"hasShots"},{"$t":"altered"},{"$t":"housetrained"}]},"breeds":{"breed":{"$t":"Domestic
        Short Hair - gray and white"}},"shelterPetId":{},"status":{"$t":"A"},"name":{"$t":"Zoe"},"contact":{"email":{"$t":"adopt@emptycagescollective.org"},"zip":{"$t":"11211"},"city":{"$t":"Brooklyn"},"fax":{},"address1":{"$t":"302
        Bedford Avenue, PMB: 301"},"phone":{"$t":"1 (800) 880-2684"},"state":{"$t":"NY"},"address2":{}},"description":{"$t":"We
        ca[...]
